.adminGold {
  background-attachment: fixed;
}
.faSer {
  color: red;
}
.aEr {
  position: relative;
}
.fasb {
  background-origin: padding-box;
}
.faser234 {
  transform: rotate();
}
.faser {
  color: red;
}
.faer909 {
  background: red;
}
.fasEr234 {
  border: 1px solid red;
}
